BODY,TD,PRE,FONT {font-family:Arial ! important; font-size:12px ! important}
STRONG	    {font-size:16px ! important}
A	    {text-decoration: none }
.e	    {font-family:Tahoma,Helvetica,Arial;font-size:18px;background-color:#000080;color:white}
.b	    {font-family:Arial,Tahoma;font-size:15px;text-decoration:none}